<div id="inventory-app">
  <nav class="navbar navbar-expand navbar-dark" style="background-color: #ff1a8c">
    <a href="#" class="navbar-brand">Inventory </a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" *ngIf="!isLoggedIn" routerLink="registration">Sign Up</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" *ngIf="isLoggedIn" routerLink="home">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" *ngIf="isLoggedIn" routerLink="add">Add</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a class="nav-link logout" (click)="logout()">Log-out</a>
      </li>
    </ul>
  </nav>

  <div class="container mt-4">
    <router-outlet></router-outlet>
  </div>
</div>